/* public/css/app.css */
/* Custom styles for the header */
.navbar {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: #39de0b;
}

/* Custom styles for the navigation links */
.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-right: 15px;
    color: #39de0b;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #39de0b;
    text-decoration: none;
}

/* Custom styles for the container */
.container {
    margin-top: 30px;
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Custom styles for the form */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.2s ease;
}

.form-control:focus {
    outline: none;
    border-color: #4CAF50;
}

.btn-primary {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-primary:hover {
    background-color: #45A048;
}

/* Custom styles for alert messages */
.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.alert-success {
    background-color: #DFF0D8;
    color: #3C763D;
    border: 1px solid #D6E9C6;
}

.alert-danger {
    background-color: #F2DEDE;
    color: #A94442;
    border: 1px solid #EBCCD1;
}
